@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --Background: #2B2B2B;
    --BackgroudButton: #A259FF;
    --Call-to-Action: #A259FF;
}

body {
    background: var(--Background);
}
